# Application
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp

# Dotenv
.env
.env.*
!.env.example

# Composer
!vendor/.gitkeep
.cache-loader

node_modules
npm-debug.log
yarn-error.log
resources/assets/config-local.json

.vagrant