// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $purple;
  border: .1rem solid $purple;
  border-radius: .4rem;
  color: $white;
  transition:.25s;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  &:focus,
  &:hover {
    background-color: $orange;
    border-color: $orange;
    color: $white;
    outline: 0;
  }
  &[disabled] {
    cursor: default;
    opacity: .5;
    &:focus,
    &:hover {
      background-color: $purple;
      border-color: $purple;
    }
  }
  &.button-outline {
    background-color: transparent;
    color: $purple;
    &:focus,
    &:hover {
      background-color: transparent;
      border-color: white;
      color: white;
    }
    &[disabled] &:focus,
    &:hover {
      border-color: inherit;
      color: $purple;
    }
  }
  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $purple;
    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: white;
    }
    &[disabled] &:focus,
    &:hover 
        {color: $purple;}
  }
}
