//Utility Objects
.Container {
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
    overflow:hidden;
    @include mobile {
        padding:0 20px;
    }
    &.Container--large {
        max-width: 1660px;
    }
    &.Container--small {
        max-width:960px;
    }
}


.Button {
    @include buttonBg($green);
    min-width: 220px;
    
    @include mobile {
        min-width: 180px;
    }
    &.Button--inverted {
        @include buttonBg($white);
        &:hover {
            color: $green;
        }
    }
    &.Button--orange {
        @include buttonBg($orange);
        color: $orange !important;
        margin-left:20px;
        &:hover {
            color: $white !important;
        }
    }
    &.Button--solid {
        @include buttonBg($green);
        background: $green;
        color: $white;
        &:hover {
            color: $green;
            background: $white;
        }
    }
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

//Utility Mods
.u-stop {
    transition: none !important;
    visibility:none;
}

.u-aL {
    text-align: left;
}

.u-aR {
    text-align: right;
}

.u-aC {
    text-align: center;
}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}

.ov-h {
    overflow:hidden;
}
.u-mobile {
    display: none !important;
    @include mobile {
        display: block !important;
    }
}

.u-desktop {
    display: block;
    @include mobile {
        display: none !important;
    }
}

.u-locked {
    overflow: hidden;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.ttc {
    text-transform: capitalize;
}

.ttu {
    text-transform: uppercase;
}
.fa-chevron-left {
    font-size:120%;
    &:before, &:after {
        font-size:120%;
        top:2px;
        position:relative;
        margin-right:10px;
    }
}
.fa-chevron-right {
    font-size:120%;
    &:before, &:after {
        font-size:120%;
        top:2px;
        position:relative;
        margin-left:10px;
    }
}
.SectionID {
    position:relative;
    top:-140px;
    &:first-of-type {
        top:-150px;
    }
}
html {
    opacity:1;
    
    &.not-active {
        opacity:0;
        
    }
    &.active {
        opacity:1 !important;
        transition:opacity .5s;
    }
}
.mixitup-page-list {
    
    .mixitup-control {
        display:none;
        &.mixitup-control-disabled {
            opacity:.25;
            &:hover {
                background:$white;
                color:$green;
                border-color:$green;
                cursor:not-allowed;
            }
        }
        &:first-child {
            display:inline-block;
            margin-right:15px;
        }
        &:last-child {
            margin-left:15px;
            display:inline-block;
        }
        @include phoneSmall {
            &:first-child {
                display:inline-block;
                margin-right:5px;
            }
            &:last-child {
                margin-left:5px;
                display:inline-block;
            }
            &.Button {
                min-width:150px !important;
                padding: 15px 20px !important;
            }
        }
    }
}
