/** Colors */
$brand-primary: #27ae60;
$txt-primary:   #000;
$body-bg:       #fff; 


/** Box Model  */
$spacer:                2rem;

/** Typographu */
$sans-serif:  "Arial", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$p-size: 18px;