/** Colors */
$brand-primary: #27ae60;
$txt-primary:   #000;
$body-bg:       #fff; 


/** Box Model  */
$spacer:                2rem;

/** Typographu */
$sans-serif:  "Arial", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$p-size: 18px;



//PassAlong Colors
$purple: #5857a6;
$green: #5fa037;
$orange: #e79333;
$black: #332d36;
$absoluteBlack: #000;
$white: #fff;



//Fonts
$heading: 'Amaranth';
$body: 'Arimo';
$bodyFooter: 'Arimo';
$bodySize: 18px;


//Functions




@function set-notification-text-color($color) {
    @if (lightness($color) > 70) {
      @return $darkGrey; // Lighter background, return dark color
    } @else {
      @return $grey; // Darker background, return light color
    }
}
