.Banner {
    padding:40px;
    h3 {
        margin-bottom:0;
        margin-top:0;
    }
    .Container {
        border:2px solid $purple;
        display:block;
        padding:20px 40px;
        transition:.25s;
        &:hover {
            background:$purple;
            color:$white;
            opacity:1;
            h3 {
                color:$white;
            }
        }
    }
}