.Content {
    p {
        font-size:18px;
        @include mobile {
            font-size:20px;
        }
    }
    padding-top:30px;
    padding-bottom:30px; 
    img {
        @include mobile {
            max-width:500px;
        }
    }
    
}