.Footer {
    padding: 40px 30px;
    background: $purple;
    @include mobile {
        padding: 30px 5px 30px;
        text-align:center !important;
    }
    * {
        color:$white !important;
        font-size:14px;
    }

    .Footer-logo {
        margin-bottom: 20px;
        max-width:200px;
    }.Container--sub {
        * {
            font-size:12px !important;
        }
    }
    
}