.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background: $white;
    transition: .25s;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    @include mobile {
        height:80px;
    }
    .toggle-button {
        display:block;
        position:absolute;
        top:33px;
        width:23px;
        right:20px;
        @include mobile{
            display:block !important;
        }
    }
    .Header-logo {
        max-width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        @include mobile {
            max-width:115px;
        }
    }
    .row .column-25{
        @include mobile {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .row .column-75{
        @include mobile {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .menu {
        @include mobile {
            margin:0;
        }
    }
    .menu-main-container {
        list-style-type: none;
        
        li {
            display: inline-block;
            &:last-child {
                a {
                    padding-right: 0;
                }
            }
            &.current_page_item {
                a {
                    opacity: .65;
                }
            }
            a {
                font-family: $heading;
                font-size: 24px;
                color: $green;
                padding: 0 20px;
                &:hover {
                    opacity: .65;
                }
            }
        }
    }
}