.TrackedGift {
    .TrackedGift-story, .TrackedGift-addon {
        padding:50px 40px 40px;
    }
    .TrackedGift-story {
        background:$white;
    }
    .TrackedGift-addon {
        background: lighten($green, 30%);
        h4{
            color:$black;
        }
    }
    .TrackedGift-container {
        margin:0 auto;
        display:block;
    }
    .TrackedGift-extra {
        background:$white;
        padding:15px;
        border-radius:25px;
        margin-top:15px;
    }
    .TrackedGift-name {
        font-family:$heading;
        font-weight:600;
        font-size:24px;
    }
    .TrackedGift-date {
        font-family:$heading;
        font-weight:600;
        font-size:18px;
        margin-bottom:10px;
    }
    .TrackedGift-form {
        h2 {
            color:$black;
            margin-top:30px;
            margin-bottom:10px;
        }
        label {
            color:$black;
        }
    }
}