.TrackedGifts {
  padding: 50px 0;
  .TrackedGifts-top {
    height: 150px;
    background-position: Center center;
    background-size: cover;
    width: 100%;
  }
  .TrackedGifts-bottom {
    padding: 15px;
  }
  .row .column-33 {
    @include mobile {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top:10px;
        margin-bottom:10px;
    }
    @include phone {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
  h2 {
    font-size: 28px;
  }
  .TrackedGifts-bottom,
  h2,
  p {
    transition: .25s;
  }
  .column {
      display:flex;
      &:hover {
        opacity: 1;
      }
  }
  .TrackedGifts-item {
    padding: 0;
    background: $grey;
    width:100%;
    &:hover {
      opacity: 1;
      .TrackedGifts-bottom {
        background: $purple;
        h2,
        p {
          color: $white;
        }
      }
    }
  }
}

